* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

@font-face {
    font-family: "rsm0";
    src: url("../fonts/reaver-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "rsm0";
    src: url("../fonts/reaver-semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

html {
    scrollbar-color: #DCC5A3 #F2E4D5;
    scrollbar-width: auto;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #F2E4D5;
}

::-webkit-scrollbar-thumb {
    background: #DCC5A3;
}

::-webkit-scrollbar-thumb:hover {
    background: #cfb68f;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "rsm0";
    background-color: #FFF2E0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    letter-spacing: 0.01em;
}

@media (min-width: 1950px) {
    .main:after {
        content: '';
        width: 1920px;
        height: 100%;
        position: fixed;
        z-index: 50;
        top: 0;
        left: calc((100% - 1920px)/2);
        background: linear-gradient(to right, #FFF2E0 0, rgba(224, 228, 236, 0) 200px, rgba(224, 228, 236, 0) calc(100% - 200px), #FFF2E0 100%);
        pointer-events: none;
    }
}

@media (max-width: 768px) {
    .main {
        overflow-x: hidden;
    }
}

.container_pwcni {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 1296px;
    width: 100%;
}

@media (max-width: 1400px) {
    .container_pwcni {
        padding: 0 30px;
    }
}

.header {
    position: relative;
    display: flex;
    justify-content: center;
    background: url('../img/header.png') top center no-repeat;
    top: 0;
    left: 0;
    max-width: 1920px;
    width: 100%;
    height: 1249px;
}

.header::after {
    content: '';
    position: absolute;
    bottom: -100px;
    width: 100%;
    height: 100px;
    background: linear-gradient(180deg, #FFF2E0 0%, rgba(255, 242, 224, 0) 100%);
    z-index: 10;
}

.clouds {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 56;
}

.clouds::after {
    content: '';
    position: fixed;
    top: 0;
    background: url(../img/bg_nav.png) no-repeat;
    background-size: cover;
    width: 1920px;
    height: 254px;
    z-index: 56;
    pointer-events: none;
}

.nav {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1296px;
    z-index: 56;
}

.nav_left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    padding-top: 7px;
}

.language {
    display: flex;
    gap: 10px;
}

.btn_ru {
    background: url('../img/btns/ru.png') no-repeat;
    width: 42px;
    height: 41px;
    opacity: 0.6;
    transition: .3s;
}

.btn_ru:hover {
    opacity: 1;
}

.btn_ru.active {
    opacity: 1;
    pointer-events: none;
}

.btn_br {
    background: url('../img/btns/br.png') no-repeat;
    width: 42px;
    height: 41px;
    opacity: 0.6;
    transition: .3s;
}

.btn_br:hover {
    opacity: 1;
}

.btn_br.active {
    opacity: 1;
    pointer-events: none;
}

.links {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: 600;
    transition: .3s;
    white-space: nowrap;
}

.links_item {
    position: relative;
    transition: .3s;
    color: #755642;

}

.links li::after {
    content: '';
    display: inline-block;
    background: url(../img/divider.png) no-repeat;
    margin: 0 28px;
    width: 13px;
    height: 14px;
}

@media (max-width: 1200px) {
    .links li::after {
        display: none;
    }
}

.links li:nth-last-child(1)::after {
    display: none;
}

.links_item:hover {
    color: #F1AF60;
}

.links_item.active {
    pointer-events: none;
    color: #F1AF60;
}

.nav_right {
    position: relative;
}

@media (max-width: 1400px) {
    .nav_right {
        padding-right: 50px;
    }
}

.login {
    display: block;
    position: relative;
    top: 15px;
    left: -24px;
    background: url('../img/btns/btn_auth.png') no-repeat;
    width: 58px;
    height: 57px;
    z-index: 10;
    transition: .3s;
}

.login:hover {
    filter: brightness(110%);
}

.register {
    position: relative;
    top: -23px;
    color: #72512B;
    font-size: 17px;
    font-weight: 600;
    padding: 8px 40px 8px 55px;
    background: rgba(255, 235, 206, 0.5);
    border: 1px solid #C8AB88;
    border-radius: 10px 20px 20px 10px;
    transition: .3s;
    z-index: 5;
}

.register:hover {
    background: rgba(255, 155, 5, 0.5);
}

.logo_wrapper {
    width: 100%;
    height: 705px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 13px;
    margin-top: 150px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (max-width: 576px) {
    .logo_wrapper {
        margin-top: 100px;
    }

    .modal-dialog {
        max-width: 635px;
        margin: 1.75rem auto;
    }
}

.logo_link {
    position: absolute;
    width: 600px;
    height: 400px;
    top: 190px;
}

@media (max-width: 576px) {
    .logo_link {
        width: 340px;
        height: 230px;
    }
}

.logo {
    pointer-events: none;
    position: relative;
    top: -75px;
    left: 7px;
}

@media (max-width: 576px) {
    .logo {
        width: 450px;
        left: 0;
    }
}

.btn_start {
    position: relative;
    display: block;
    margin-top: -45px;
    background: url(../img/btns/btn_start.png) no-repeat;
    width: 354px;
    height: 116px;
    transition: .3s;
    z-index: 5;
}

.btn_start:hover {
    filter: brightness(110%);
}

@media (max-width: 576px) {
    .btn_start {
        margin-top: -50px;
    }
}

.animate {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    pointer-events: none;
}

.sparks_clouds {
    position: absolute;
    z-index: 25;
}

.clouds_big {
    position: absolute;
    margin-top: -725px;
    margin-left: 50px;
    z-index: 5;
    animation: clouds_big 90s linear infinite;
}

@keyframes clouds_big {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

.clouds_small {
    margin-top: -920px;
    margin-left: 50px;
    position: absolute;
    z-index: 4;
    animation: clouds_small 130s linear infinite;
}

@keyframes clouds_small {
    0% {
        transform: rotateZ(-0deg);
    }

    100% {
        transform: rotateZ(-360deg);
    }
}

.spark_left {
    position: absolute;
    z-index: 1;
    /* margin-top: -240px; */
    margin-top: -540px;
    margin-left: -750px;
    animation: spark_left 10s linear infinite;
}

@keyframes spark_left {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        margin-top: 240px;
        opacity: 0;
    }
}

.spark_left2 {
    position: absolute;
    z-index: 1;
    /* margin-top: -240px; */
    margin-top: -540px;
    margin-left: -250px;
    transform: rotateZ(180deg);
    animation: spark_left2 15s linear infinite;
}

@keyframes spark_left2 {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.6;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        margin-top: 240px;
        opacity: 0;
    }
}

.spark_right {
    position: absolute;
    z-index: 1;
    margin-top: -450px;
    margin-right: -750px;
    animation: spark_right 10s linear infinite;
}

@keyframes spark_right {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        margin-top: 240px;
        opacity: 0;
    }
}

.spark_right2 {
    position: absolute;
    z-index: 1;
    margin-top: -450px;
    margin-right: -250px;
    transform: rotate(45deg);
    animation: spark_right2 20s linear infinite;
}

@keyframes spark_right2 {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        margin-top: 240px;
        opacity: 0;
    }
}

.gradient {
    position: absolute;
    width: 100%;
    height: 237px;
    bottom: 0;
    background: linear-gradient(180deg, rgba(255, 242, 224, 0) 0%, #FFF2E0 100%);
    z-index: 25;
}

.social_fixed {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 73px;
    height: 232px;
    background: url('../img/bg_social.png') no-repeat;
    z-index: 56;
    top: 40%;
    right: 15px;
}

@media (max-width: 768px) {
    .social_fixed {
        display: none;
    }
}

.social_fixed a {
    transition: .3s;
}

.social_fixed a:hover {
    filter: brightness(110%);
}

.social_fixed a:nth-child(1) {
    background: url(../img/btns/btn_vk.png) no-repeat;
    width: 69px;
    height: 70px;
}

.social_fixed a:nth-child(2) {
    background: url(../img/btns/btn_ds.png) no-repeat;
    width: 69px;
    height: 70px;
}

.social_fixed a:nth-child(3) {
    background: url(../img/btns/btn_tg.png) no-repeat;
    width: 69px;
    height: 70px;
}

.mmotop_fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 199px;
    height: 175px;
    background: url('../img/logo1.png') no-repeat;
    z-index: 100;
    opacity: 0.9;
    transition: .3s;
}

.mmotop_fixed:hover {
    opacity: 1;
}

@media (max-width: 1600px) {
    .mmotop_fixed {
        display: none;
    }
}

.block {
    background-color: #FFEBCF;
    border: 1px solid #D0B99D;
    border-radius: 10px;
    background: url(../img/texture.jpg) left center;
}

.container_pwcni.content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: -325px;
    z-index: 55;
}

.background {
    position: absolute;
    margin-top: 1249px;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    max-height: 870px;
    background: url(../img/bg_content.jpg) no-repeat;
    z-index: -1;
}

@media (max-width: 1150px) {
    .background {
        height: 86%;
        max-height: fit-content;
    }
}

@media (max-width: 992px) {
    .background {
        height: 200%;
        background-size: cover;
    }
}

.background::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(180deg, #FFF2E0 0%, rgba(255, 242, 224, 0) 100%);
}

.background::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(180deg, rgba(255, 242, 224, 0) 0%, #FAE9D2 100%);
}

.info {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

@media (max-width: 992px) {
    .info {
        flex-wrap: wrap;
    }
}

.info_status {
    position: relative;
    padding: 28px 0 35px 40px;
    width: 100%;
    max-width: 856px;
    background: url(../img/status_bg.jpg) no-repeat;
    overflow: hidden;
}

@media (max-width: 992px) {
    .info_status {
        max-width: 100%;
    }
}

@media (max-width: 576px) {
    .info_status {
        padding-left: 10px;
    }
}

.info_status::after {
    content: '';
    position: absolute;
    background: url(../img/status_hero.png) no-repeat;
    width: 439px;
    height: 130px;
    top: 0;
    right: 0;
    transition: .3s;
}

@media (max-width: 672px) {
    .info_status::after {
        right: -150px;
    }
}

@media (max-width: 480px) {
    .info_status::after {
        right: -260px;
    }
}

.status_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    color: #AA9262;
    z-index: 5;
}

.status_wrapper img {
    position: relative;
    width: 151px;
    height: 49px;
    z-index: 4;
}

.status_wrapper p {
    margin-top: -3px;
    padding-left: 14px;
}

.status_wrapper b {
    color: #8E7647;
}

.stroke {
    position: absolute;
    width: 100%;
    height: 7px;
    left: 0;
    bottom: 0;
}

.stroke.online {
    background-color: rgba(151, 198, 89, 0.8);
}

.stroke.offline {
    background-color: rgba(198, 89, 89, 0.8);
}

.info_online {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5px;
    gap: 8px;
    width: 100%;
    max-width: 416px;
    font-weight: 600;
    text-align: center;
}

@media (max-width: 992px) {
    .info_online {
        max-width: 100%;
        min-height: 131px;
    }
}

.info_online p {
    font-size: 22px;
    color: #B39A74;
}

.info_online span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    color: #FFD99F;
    width: 147px;
    height: 55px;
    background: url('../img/bg_online.png') no-repeat;
    z-index: 5;
}

.news {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

@media (max-width: 768px) {
    .news {
        flex-wrap: wrap;
    }
}

.article {
    position: relative;
    width: 100%;
    max-width: 636px;
    overflow: hidden;
}

@media (max-width: 768px) {
    .article {
        max-width: 100%;
    }
}

.article img {
    position: absolute;
    top: 0;
}

@media (max-width: 768px) {
    .article img {
        width: 100%;
    }
}

.modal-backdrop {
    z-index: -1;
}

.article .content {
    position: relative;
    z-index: 15;
    margin-top: 160px;
    left: -1px;
    width: calc(100% + 2px);
    height: 100%;
    padding: 17px 40px 22px 40px;
    text-align: left;
}

@media (max-width: 576px) {
    .article .content {
        margin-top: 20%;
    }
}

.content_title {
    position: relative;
    font-size: 32px;
    font-weight: 600;
    color: #714400;
    margin-bottom: 2px;
    line-height: 46px;
}

.content_title::before {
    content: '';
    position: relative;
    display: inline-block;
    margin-right: 11px;
    top: 4px;
    background: url(../img/icon_article.png);
    width: 35px;
    height: 35px;
}

.content_text {
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: #8D7558;
    margin-bottom: 15px;
}

.content_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
}

.content_wrapper p {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
    color: #C1B2A0;
}

.content_more {
    width: 164px;
    height: 47px;
    background: url(../img/btns/btn_more.png) no-repeat;
    transition: .3s;
}

.content_more:hover {
    filter: brightness(110%);
}

.article .new {
    position: absolute;
    width: 105px;
    height: 105px;
    top: 0;
    right: 0;
    background: url(../img/new_article.png) no-repeat;
    z-index: 15;
}

.donate {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

@media (max-width: 992px) {
    .donate {
        flex-wrap: wrap;
    }
}

.donate_content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 416px;
    padding: 30px 40px;
    font-weight: 600;
}

@media (max-width: 992px) {
    .donate_content {
        max-width: 100%;
    }
}

@media (max-width: 567px) {
    .donate_content {
        padding: 20px 20px;
    }
}

.donate_content::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 205px;
    height: 100%;
    background: url(../img/donate_gradient.png) no-repeat;
}

.donate_content:nth-child(1) {
    background: url(../img/gold_texture.jpg) no-repeat;
}

.donate_content:nth-child(2) {
    background: url(../img/silver_texture.jpg) no-repeat;
}

.donate_content:nth-child(3) {
    background: url(../img/bronze_texture.jpg) no-repeat;
}

@media (max-width: 992px) {
    .donate_content:nth-child(1) {
        background-size: cover;
    }

    .donate_content:nth-child(2) {
        background-size: cover;
    }

    .donate_content:nth-child(3) {
        background-size: cover;
    }
}

.donate_info .name {
    font-size: 26px;
    line-height: 37px;
    color: #6C5527;
}

.donate_info .gold {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 24px;
    line-height: 35px;
    color: #E8A700;
}

.gold::after {
    content: 'Ð·Ð¾Ð»Ð¾Ñ‚Ð°';
    position: relative;
    display: inline-block;
    font-size: 16px;
    top: -1px;
    margin-left: 8px;
    color: rgba(113, 68, 0, 0.4);
}

.donate_bonus {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    line-height: 52px;
    margin-top: -18px;
}

.donate_bonus::before {
    content: 'TopUp';
    position: absolute;
    top: 45px;
    font-size: 16px;
    line-height: 23px;
    color: rgba(113, 68, 0, 0.3);
}

.donate_bonus.first {
    color: #ADB843;
}

.donate_bonus.second {
    color: #9D731F;
}

.donate_bonus.third {
    color: #AD9D7E;
}

.top {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 24px;
    font-weight: 600;
}

@media (max-width: 992px) {
    .top {
        flex-wrap: wrap;
    }
}

.top_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 636px;
    padding: 20px 23px 40px 23px;
}

@media (max-width: 992px) {
    .top_content {
        max-width: 100%;
    }
}

@media (max-width: 576px) {
    .top_content {
        overflow-x: scroll;
    }
}

.top .title {
    position: relative;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    color: #988154;
    margin-bottom: 20px;
}

.top .title::before {
    content: "";
    position: relative;
    display: inline-block;
    margin-right: 10px;
    width: 21px;
    height: 22px;
    background: url(../img/divider_top.png) no-repeat;
}

.top ol {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 576px) {
    .top ol {
        justify-content: start;
        align-items: flex-start;
    }
}

.top li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 37px 0 23px;
    width: 100%;
    height: 60px;
    background: url(../img/bg_top.png) no-repeat;
}

@media (max-width: 992px) {
    .top li {
        background-size: cover;
    }
}

@media (max-width: 576px) {
    .top li {
        width: 500px;
    }
}

.top li:nth-child(even) {
    background: none;
}

.top li div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 45px;
}

.top li img {
    width: 30px;
    height: 30px;
}

.top ol li p:nth-child(1) {
    font-size: 24px;
    font-weight: 400;
    color: #5A3C00;
    width: 22px;
}

.top ol li p:nth-child(2) {
    font-size: 20px;
    font-weight: 600;
    color: #5A3C00;
    max-width: 220px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.top ol li p.score {
    display: flex;
    font-size: 22px;
    font-weight: 600;
    color: #AD7200;
    text-align: right;
}

.top .user {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.top a {
    position: absolute;
    display: flex;
    align-self: center;
    width: 57px;
    height: 57px;
    background: url(../img/btns/btn_rank.png) no-repeat;
    bottom: -28px;
    transition: .3s;
}

.top a:hover {
    filter: brightness(110%);
}

.footer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1920px;
    min-height: 230px;
    background-color: #FAE9D2;
    margin-top: 160px;
    padding: 30px 0;
}

.footer::before {
    content: '';
    position: absolute;
    top: -120px;
    width: 100%;
    height: 120px;
    background: linear-gradient(180deg, rgba(255, 242, 224, 0) 0%, #FAE9D2 100%);
}

.footer_wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

@media (max-width: 992px) {
    .footer_wrapper {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
}

.footer_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 585px;
}

@media (max-width: 992px) {
    .footer_info {
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: 30px;
    }
}

.footer_info .images {
    position: relative;
    left: -9px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

@media (max-width: 670px) {
    .footer_info .images {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-left: 20px;
    }
}

.images .logo_min {
    width: 208px;
    height: 92px;
    background: url(../img/logo_min.png) no-repeat;
}

.images .author {
    position: relative;
    top: 15px;
    width: 218px;
    height: 39px;
    background: url(../img/author.png) no-repeat;
    opacity: 0.7;
    transition: .3s;
}

.images .author:hover {
    opacity: 1;
}

.footer_info .links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 670px) {
    .footer_info .links {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}

.footer_info .links a {
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.05em;
    color: #B7AB94;
    transition: .3s;
}

.footer_info .links a:hover {
    color: #A59473;
}

.footer_info .links a:nth-child(1)::after {
    content: "";
    position: relative;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    width: 13px;
    height: 13px;
    background: url(../img/divider_bottom.png) center center no-repeat;
}

@media (max-width: 670px) {
    .footer_info .links a:nth-child(1)::after {
        display: none;
    }
}

.footer_info .copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #CBBEA5;
}

.btn_up {
    position: absolute;
    top: -11%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../img/btns/btn_up.png);
    width: 85px;
    height: 79px;
    transition: .3s;
}

.btn_up:hover {
    filter: brightness(105%);
}

.footer_other {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.footer_other .social {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer_other .social a {
    opacity: 0.7;
    transition: .3s;
}

.footer_other .social a:hover {
    opacity: 1;
}

.footer_other .social a:nth-child(1) {
    background: url(../img/btns/btn_vk_min.png);
    width: 50px;
    height: 53px;
}

.footer_other .social a:nth-child(2) {
    background: url(../img/btns/btn_ds_min.png);
    width: 50px;
    height: 53px;
}

.footer_other .social a:nth-child(3) {
    background: url(../img/btns/btn_tg_min.png);
    width: 50px;
    height: 53px;
}

.footer_other .media {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-width: 294px;
    min-height: 175px;
    overflow: hidden;
}

.footer_other .media::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: url(../img/promo.jpg) center center;
    background-size: cover;
}

.footer_other .media .media_play {
    position: absolute;
    background: url(../img/btns/btn_play.png) no-repeat;
    width: 81px;
    height: 83px;
    transition: .3s;
    z-index: 5;
    cursor: pointer;
}

.footer_other .media .media_play:hover {
    filter: brightness(110%);
}

.nav_burger {
    position: relative;
    z-index: 55;
    display: none;
    width: 30px;
    height: 20px;
    margin-top: 20px;
}

.nav_burger:hover {
    cursor: pointer;
}

@media (max-width: 1200px) {
    .nav_burger {
        display: block;
    }
}

@media (max-width: 1200px) {
    .nav_left {
        display: none;
        padding-top: 100px;
    }

    .nav_left .links {
        flex-direction: column;
        gap: 30px;
        font-size: 28px;
    }
}

@media (max-width: 1200px) {
    .nav_right {
        display: none;
    }
}

.nav_left.active_b {
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.nav_right.active_b {
    position: absolute;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 0;
}

@media (max-width: 1200px) {
    .login {
        top: 23px;
        left: -95px;
    }
}

.nav.active_b {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(254, 205, 152, 0.7);
}

.nav_burger.active_b {
    margin-left: 30px;
}

.nav_burger::before {
    content: "";
    background-color: #4F310D;
    position: absolute;
    width: 100%;
    height: 3px;
    top: 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.nav_burger::after {
    content: "";
    background-color: #4F310D;
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.nav_burger.active_b::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 9px;
}

.nav_burger.active_b::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 9px;
}

.nav_burger span {
    background-color: #4F310D;
    position: absolute;
    width: 100%;
    height: 3px;
    top: 9px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.nav_burger.active_b span {
    -webkit-transform: scale(0);
    transform: scale(0);
}

body.active_b {
    overflow: hidden;
}

.download {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 0;
}

.download .title {
    position: relative;
    font-size: 30px;
    font-weight: 600;
    line-height: 43px;
    color: #5A3C00;
    padding: 6px 80px;
    margin-bottom: 20px;
    background: linear-gradient(90deg, rgba(159, 86, 0, 0) 0%, rgba(255, 172, 74, 0.15) 50%, rgba(159, 86, 0, 0) 100%);
}

.download .title::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, rgba(255, 215, 156, 0) 0%, #DCB06E 50%, rgba(255, 215, 156, 0) 100%);
}

.download .title::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, rgba(255, 215, 156, 0) 0%, #DCB06E 50%, rgba(255, 215, 156, 0) 100%);
}

.download .subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8D7558;
    max-width: 730px;
    margin-bottom: 35px;
}

@media (max-width: 768px) {
    .download .subtitle {
        padding: 0 15px;
    }
}

.download .btn {
    padding: 10px 45px;
    background: rgba(255, 155, 5, 0.5);
    border: 1px solid #D9AE7B;
    border-radius: 55px;
    color: #72512B;
    font-size: 20px;
    font-weight: 600;
    line-height: 29px;
    transition: .3s;
}

.download .btn:hover {
    background: rgba(255, 155, 5, 0.7);
}

.download:nth-child(1) {
    background: url(../img/bg_download1.jpg) no-repeat;
    background-size: cover;
}

.download:nth-child(2) {
    background: url(../img/bg_download2.jpg) no-repeat;
    background-size: cover;
}

.download:nth-child(3) {
    background: url(../img/bg_download3.jpg) no-repeat;
    background-size: cover;
}

.download .btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 680px;
    gap: 25px;
}

.download .btns .btn_download {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 207px;
    height: 49px;
    background: rgba(255, 155, 5, 0.5);
    border: 1px solid #D9AE7B;
    border-radius: 55px;
    color: #72512B;
    font-size: 20px;
    font-weight: 600;
    line-height: 29px;
    transition: .3s;
}

.btns .btn_download:hover {
    background: rgba(255, 155, 5, 0.7);
}

.btn_start.br {
    background: url(../img/br/btn_start.png) no-repeat;
}

.content_more.br {
    background: url(../img/br/btn_more.png) no-repeat;
}

.gold.br::after {
    content: 'ouro';
}

.donate_bonus.br::before {
    content: 'BÃ´nus';
}

.btn_up.br {
    background: url(../img/br/btn_up.png);
    width: 92px;
    height: 79px;
}

.social_fixed.br a:nth-child(1) {
    background: url(../img/br/btn_inst.png) no-repeat;
    width: 69px;
    height: 70px;
}

.social_fixed.br a:nth-child(2) {
    background: url(../img/btns/btn_ds.png) no-repeat;
    width: 69px;
    height: 70px;
}

.social_fixed.br a:nth-child(3) {
    background: url(../img/br/btn_fb.png) no-repeat;
    width: 69px;
    height: 70px;
}

.mmotop_fixed.br {
    background: url('../img/br/btn_mmotop.png') no-repeat;
}

.btn_start.dl {
    visibility: hidden;
}

.footer_other .social.br a:nth-child(1) {
    background: url(../img/br/btn_inst_min.png);
    width: 50px;
    height: 53px;
}

.footer_other .social.br a:nth-child(3) {
    background: url(../img/br/btn_fb_min.png);
    width: 50px;
    height: 53px;
}

.promo_video {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: rgba(34, 22, 8, 0.7);
}

.promo_video.active {
    display: flex;
}

/*  */
.top_special {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top_special .btns {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .top_special .btns {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.top_special .btns .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: fit-content;
    padding: 10px 45px;
    border: 1px solid #D9AE7B;
    border-radius: 55px;
    color: #72512B;
    font-size: 20px;
    font-weight: 600;
    line-height: 29px;
    transition: .3s;
    cursor: pointer;
}

.top_special .btns .btn.active {
    background: rgba(255, 155, 5, 0.5);
    pointer-events: none;
}

.top_special .btns .btn:hover {
    background: rgba(255, 155, 5, 0.7);
}

.top_wrapper {
    width: 100%;
    max-width: 760px;
}

.top_list {
    display: none;
    flex-direction: column;
    gap: 7px;
    width: 100%;
}

@media (max-width: 500px) {
    .top_wrapper {
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .top_list {
        min-width: 500px;
    }

    .top_special .btns {
        margin-bottom: 0;
    }
}

.top_item {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 69px;
    padding: 0 30px;
    border: 1px solid #D0B99D;
    border-radius: 10px;
    letter-spacing: 0.01em;
    color: #5A3C00;
    background: url('../img/top_texture.png') no-repeat;
    background-color: #FFEBCF;
}

.top_item:nth-child(even) {
    background-color: #F4DEBF;
}

.top_item:nth-child(1) {
    background-color: #FFE2A9;
}

.top_item:nth-child(2) {
    background-color: #EDE4D3;
}

.top_item:nth-child(3) {
    background-color: #F7D0AA;
}

.top_item .pos {
    width: 57px;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    margin-right: 15px;
}

@media (max-width: 460px) {
    .top_item .pos {
        margin-right: 10px;
    }
}

.top_item .user {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.top_item img {
    width: 30px;
    height: 30px;
}

.top_item .name {
    font-weight: 600;
    font-size: 20px;
    opacity: 0.9;
}

.top_item .score {
    position: absolute;
    right: 0;
    margin-right: 30px;
    display: flex;
    font-size: 22px;
    font-weight: 600;
    color: #AD7200;
    text-align: right;
}

.top_list.active {
    display: flex;
}

.background.tp {
    margin-top: 0;
}

.background.tp::after {
    content: '';
    background: linear-gradient(180deg, rgba(255, 242, 224, 0) 0%, #FFF2E0 100%);
}

.help_mobile {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    height: 46px;
}

.help_mobile::after {
    content: '';
    position: absolute;
    width: 180px;
    height: 5px;
    background: linear-gradient(90deg, rgba(255, 184, 47, 0) 0%, rgba(255, 184, 47, 0.6) 51.04%, rgba(255, 184, 47, 0) 100%);
}

.help_mobile .cursor {
    position: absolute;
    top: 4px;
    left: 20px;
    width: 46px;
    height: 46px;
    background: url(../img/cursor.png);
    z-index: 5;
    animation: cursor 1s ease-out infinite alternate both;
}

@keyframes cursor {
    0% {
        left: 40px;
    }

    100% {
        left: -20px;
    }
}

@media (max-width: 500px) {
    .help_mobile {
        display: flex;
    }
}

.btn_start.btn_home {
    background: url('../img/btns/btn_home.png');
}

.btn_start.btn_home.br {
    background: url('../img/br/btn_home.png');
}

.top_special .news_title {
    font-weight: 600;
    font-size: 48px;
    line-height: 69px;
    text-align: center;
    color: #714400;
    margin-bottom: 20px;
}

.news_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.news_item {
    display: flex;
    flex-direction: column;
}

.news_item_img {
    position: relative;
    max-width: 380px;
    width: 100%;
    height: 215px;
    background: #FFEBCF;
    border: 1px solid #D0B99D;
    border-radius: 10px;
    object-fit: cover;
    object-position: left;
    margin-bottom: 8px;
}

.news_item_title {
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
    color: #714400;
    margin-bottom: 3px;
    transition: .3s;
    max-width: 360px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.news_item_title:hover {
    color: #F1AF60;
}

.news_item_date {
    font-weight: 400;
    font-size: 20px;
    color: #97826A;
}

.news_wrapper.promotions,
.news_wrapper.updates,
.news_wrapper.events {
    display: none;
}

.news_wrapper.active {
    display: flex;
}

@media (max-width: 500px) {
    .top_special.nw .btns {
        margin-bottom: 30px;
    }
}

@media (max-width: 699px) {
    .news_item_img {
        max-width: 100%;
    }
}

.btn.treasure {
    background: rgba(255, 155, 5, 0.5);
}

.treasures {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
}

@media (max-width: 900px) {
    .treasures {
        flex-direction: column;
    }
}

.t_reward_block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 530px;
    width: 100%;
}

@media (max-width: 900px) {
    .t_reward_block {
        max-width: 100%;
    }
}

.t_reward_item {
    background: url(../img/bg_treasure.jpg) no-repeat;
    background-size: 100% 100%;
    background-color: #FFEBCF;
    border: 1px solid #D0B99D;
    border-radius: 10px;
    padding-top: 20px;
    overflow: hidden;
}

@media (max-width: 450px) {
    .t_reward_item {
        overflow-x: scroll;
    }

    .t_reward_list {
        width: max-content;
    }
}

.t_reward_item .title {
    font-weight: 600;
    font-size: 26px;
    line-height: 37px;
    text-align: center;
    color: #714400;
    margin-bottom: 1px;
}

.t_reward_item .subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #714400;
    margin-bottom: 21px;
}

.t_reward_item .subtitle b {
    font-weight: 600;
    color: #F1AF60;
}

.t_reward_list {
    display: flex;
    flex-direction: column;
}

.t_reward_list li {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #F3DDBE;
    border-bottom: 1px solid #D0B99D;
    padding: 0 30px;
    height: 60px;
}

.t_reward_list li:nth-child(even) {
    background: transparent;
}

.t_reward_list li:nth-child(1) {
    border-top: 1px solid #D0B99D;
}

.t_reward_list li:last-child {
    border-bottom: 0px;
}

.t_reward_list .pos {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    width: 20px;
    color: #66482D;
    margin-right: 8px;
}

.t_reward_list .img {
    padding: 5px;
    background: #ECD8BC;
    border: 1px solid #D0B99D;
    border-radius: 5px;
    margin-right: 7px;
}

.t_reward_list .item {
    font-weight: 600;
    font-size: 16px;
    margin-right: 10px;
    white-space: nowrap;
}

.t_reward_list .item:hover {
    text-decoration: underline;
}

.t_reward_list .item.orange {
    color: #FF6000;
}

.t_reward_list .item.yellow {
    color: #e7a705;
}

.t_reward_list .item.purple {
    color: #AA32FF;
}

.t_reward_list .item.green {
    color: #5eb54b;
}

.t_reward_list .count {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px 13px;
    background: rgba(233, 189, 104, 0.5);
    border: 1px solid #D0B99D;
    border-radius: 10px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #66482D;
    white-space: nowrap;
}

.t_top_block {
    width: 100%;
}

.top_list .t_wrapper {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    right: 30px;
}

.t_wrapper .chests {
    font-weight: 600;
    font-size: 22px;
    text-align: right;
    color: #AD7200;
}

.t_wrapper img {
    width: 24px;
    height: 24px;
    border-radius: 3px;
}

@media (max-width: 1430px) {
    .social_fixed.treasure {
        display: none;
    }
}

@media (max-width: 1150px) {
    .t_top_block .top_list .top_item .user .name {
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (max-width: 500px) {
    .t_top_block .top_list {
        min-width: 100%;
    }
}

@media (max-width: 450px) {
    .t_top_block .top_list .pos {
        display: none;
    }
}

.treasure_fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 219px;
    height: 219px;
    transition: .3s;
}

.treasure_fixed img {
    width: 219px;
}

.treasure_fixed:hover {
    opacity: 1;
    filter: brightness(110%);
}

@media (max-width: 1680px) {
    .treasure_fixed {
        top: 60px;
        right: 0;
    }
}

@media (max-width: 900px) {
    .treasure_fixed {
        display: none;
    }
}

.nav_socials {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left: auto
}

@media (max-width: 1280px) {
    .nav_socials {
        width: 100%
    }
}

.nav_socials a {
    transition: filter .3s ease-in-out
}

.nav_socials a:hover {
    filter: brightness(110%)
}

.p-pageWrapper {
    background: url('../img/bg.jpg') top center repeat-y;
    background-size: 100% auto
}

.p-navSticky {
    z-index: 100
}

.p-navSticky.is-sticky {
    z-index: 400;
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.3)
}

@supports (position: sticky) or (position: -webkit-sticky) {
    .p-navSticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0
    }

    .p-navSticky.is-sticky-broken,
    .p-navSticky.is-sticky-disabled {
        position: static;
        top: auto
    }
}

.p-navSticky.is-sticky .p-nav .p-nav-list .p-navEl.is-selected,
.p-navSticky.is-sticky .p-nav .p-account {
    border-radius: 0
}

.p-navSticky--primary.is-sticky .p-nav-list .p-navEl-link.p-navEl-link--splitMenu {
    padding-right: 3.75px
}

.p-navSticky--primary.is-sticky .p-nav-list .p-navEl.is-selected .p-navEl-splitTrigger {
    display: inline;
    position: relative
}

.p-navSticky--primary.is-sticky .p-nav-list .p-navEl.is-selected .p-navEl-splitTrigger:before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    bottom: 5px;
    width: 0;
    border-left: 1px solid rgba(253, 233, 205, 0.35)
}

.background.tp {
    margin-top: 0;
}

.background.tp::after {
    content: '';
    background: linear-gradient(180deg, rgba(255, 242, 224, 0) 0%, #FFF2E0 100%);
}